h1 {
	color: green;
	margin: 0 auto;
    font-family: 'Coming Soon', cursive;
}

.boton {
    font-family: 'Coming Soon', cursive;
    background: yellow;
}

.canchas {
     width: 1000px; 
     height: 500px; 
     background: green;
     border: 2px solid white;
     position: relative; 
     display: none;
}


#porteriaIzquierda {
    width: 100px;
    height: 250px;
    border: 2px solid white;
    float: left;
    margin-top: 120px;
    
}

#areaChicaIzquierda {
     width: 50px; 
     height: 100px; 
     border: 1px solid white; 
     border-radius: 0 100px 100px 0;
     border-radius: 0 100px 100px 0;
     border-radius: 0 100px 100px 0;
     float: left;
     margin-top: 190px;
}

#centro {
    border: 2px solid white;
	border-radius: 100%; 
	width: 150px;
	height: 150px;
	position: absolute;
  	left: 42.58%;
  	top: 30%;	
}

.lineaCentral {
    height: 100%;
    border-left: 2px solid white;;
    right: 50%;
    position: absolute;
    top: 0%
}

#areaChicaDerecha {
     width: 50px; 
     height: 100px; 
     border: 1px solid white; 
     border-radius: 100px 0 0 100px;
     border-radius: 100px 0 0 100px;
     border-radius: 100px 0 0 100px;
     float: right;
     margin-top: 190px;
}

#porteriaDerecha {
    width: 100px;
    height: 250px;
    border: 2px solid white;
    float: right;
    margin-top: 120px;
    
}